@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<MudContainer Style="width=75%">
    <h1>Invalid password reset</h1>
    <p>
        The password reset link is invalid.
    </p>
</MudContainer>
